<template name="filters">
    <div id="filters">
        <h4>Filter by:</h4>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Point of Sale
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        {{#each posa}}
                        <div class="checkbox">
                            <label><input type="checkbox" class="filter filter-posa" value="{{this.shortcode}}"> {{this.name}}</label>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Channels
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        {{#each channels}}
                        <div class="checkbox">
                            <label><input type="checkbox" class="filter filter-channel" value="{{this._id}}"> {{this._id}}</label>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Platform
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        {{#each platforms}}
                        <div class="checkbox">
                            <label><input type="checkbox" class="filter filter-platform" value="{{this.shortcode}}"> {{this.name}}</label>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
