<template name="analysis_visits">
    {{#if Template.subscriptionsReady}}
    <button class="btn btn-block btn-{{visits.status}}" data-points="{{visits.points}}" data-toggle="modal" data-target="#modal" data-title="{{visits.title}}">
        <h4>{{visits.text}}</h4>
        <hr/>
        <h3>{{visits.today}}</h3>
        <p>CVR: </p>
        <p>BPS: </p>
        <hr/>
        <div class="text-left">
            <p>Min: {{visits.min}}</p>
            <p>Max: {{visits.max}}</p>
            <p>Mean: {{visits.mean}}</p>
            <p>Stdev: {{visits.stdev}}</p>
        </div>
    </button>
    {{else}}
    Loading
    {{/if}}
</template>
