<template name="analysis_visits">
    {{#if Template.subscriptionsReady}}
    <button class="btn btn-block btn-{{visits.status}}" data-points="{{visits.points}}" data-funnel="{{visits.funnel}}" data-filter-key="{{visits.filter_key}}" data-filter-value="{{visits.filter_value}}" data-toggle="modal" data-target="#modal" data-title="{{visits.title}}">
        <h4>{{visits.text}}</h4>
        <hr/>
        <h3>{{visits.today}}</h3>
        <div class="text-left">
            <p>CVR: 3.0% <i class="fa fa-arrow-up"></i></p>
            <p>BPS: +120 <i class="fa fa-arrow-up"></i></p>
            <p>Continuance: 50% <i class="fa fa-arrow-down"></i></p>
        </div>
        <hr/>
        <div class="text-left">
            <p>Min: {{visits.min}}</p>
            <p>Max: {{visits.max}}</p>
            <p>Mean: {{visits.mean}}</p>
            <p>Stdev: {{visits.stdev}}</p>
        </div>
    </button>
    {{else}}
    Loading
    {{/if}}
</template>
