<template name="modal">
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-label">Analysis</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="col-md-9">
                        <div class="modal-chart"></div>
                    </div>
                    <div class="col-md-3">
                        <h4>Statistics</h4>
                        <p>Min: <span class="min"></span></p>
                        <p>Max: <span class="max"></span></p>
                        <p>Median: <span class="median"></span></p>
                        <p>StDev: <span class="stdev"></span></p>
                        <hr/>
                        <h4>Marketing Activities</h4>
                        <p><i class="fa fa-tag"></i> 101-hour sale!</p>
                        <p><i class="fa fa-tag"></i> Christmas Sale</p>
                        <hr/>
                        <h4>Releases</h4>
                        <p>R2015.08.01 - May 10, 2015</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
